@import url('https://cdn.jsdelivr.net/gh/mflorence99/tn3270@master/fonts/3270.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

main {
    font-family: '3270', monospace;
}

code {
    font-family: 'Fira Code', monospace;
}
